.featured-products {
	
	&__wrapper {
		
	}
	
}
.products {
	width: 100%;
	margin: 0;
	&__wrapper {		
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
	}
	.product {
		&__wrapper {
			
		}
		&__inner {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;
		}
		&__item {			
			text-decoration: none;
		}
		&__header {
			text-align: center;
			color: #333;
			font-size: 30px;
		}
		@media @m {
			flex-basis: 100%;
		}
		@media @t {
			flex-basis: 50%;
		}
		@media @d {
			flex-basis: 33%;
		}
	}
}