.site-footer {
	background: #333;
	color: #fff;	
}
.footer-nav {
	&__wrapper {
		padding: 0;
		margin: 0;
		list-style: none;
		.menu-item {
			display: inline-block;
			a {
				display: block;
				padding: 15px;
				color: #fff;
				text-decoration: none;
				text-transform: uppercase;
			}
		}
	}
}