.site-footer {
	background: #252324;
	color: #fff;	
}
.footer-nav {
	&__wrapper {
		padding: 0;
		margin: 0;
		list-style: none;
		.menu-item {
			display: inline-block;
			a {
				display: block;
				padding: 15px;
				color: #747778;
				text-decoration: none;
				text-transform: uppercase;
				//transition: .1s;
				&:hover {
					color: #fff;
				}
			}
		}
	}
}