.woocommerce-result-count {
  width: 100%;
  text-align: center;
}
.woocommerce-ordering {
  width: 100%;
  text-align: center;
}
.woocommerce-ordering select {
  padding: 10px 5px;
  border: 1px solid #333;
}
.woocommerce-message {
  border: 1px solid #ddd;
  margin: 15px 0;
  padding: 15px;
  background: green;
  color: #eee;
  position: relative;
}
.woocommerce-message .wc-forward {
  float: right;
  color: #eee;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  border-left: 1px solid #eee;
  padding-left: 15px;
}
.woocommerce-message .wc-forward::after {
  content: ' →';
}
.woocommerce-breadcrumb {
  margin-bottom: 15px;
}
.woocommerce-breadcrumb a {
  text-decoration: none;
  color: #c7c7c7;
}
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100000;
  background: #fff;
  border-bottom: 1px solid #ddd;
}
.site-header__wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 100%;
  position: relative;
}
@media (max-width: 767px) {
  .site-header__wrapper {
    flex-direction: column;
  }
}
.site-header__menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
}
.site-header__menu .menu-item a {
  display: block;
  font-family: 'Open Sans Condensed';
  text-transform: uppercase;
  color: #333;
  font-size: 26px;
  text-decoration: none;
  padding: 15px;
}
@media (max-width: 767px) {
  .site-header__menu {
    flex-direction: column;
  }
}
.site-header__open {
  width: 75px;
  height: 75px;
  background: #8997a8;
  color: #eee;
  font-size: 60px;
  position: absolute;
  top: 0;
  left: 100%;
  padding: 0;
  border: 1px solid #eee;
  box-shadow: none;
}
@media (min-width: 1280px) {
  .site-header__open {
    display: none;
  }
}
@media (min-width: 768px) {
  .site-header__open {
    display: block;
  }
}
.site-header__open.active {
  background-color: #eee;
  color: #8997a8;
}
@media (max-width: 767px) {
  .site-header {
    width: 300px;
    height: 100vh;
    transform: translateX(-300px);
  }
}
.site-header.active {
  transform: translateX(0);
}
.site-logo {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  outline: none;
  height: 75px;
  border-right: 1px solid #ddd;
  padding-right: 15px;
}
.site-logo__img {
  width: 40px;
  height: 100%;
  background: url(img/site-logo.png) no-repeat center;
  background-size: contain;
}
.site-logo__text {
  font-family: 'Marcellus', serif;
  text-transform: uppercase;
  font-size: 18px;
}
.site-nav {
  flex-grow: 1;
}
.user-info {
  border-left: 1px solid #ddd;
}
.site {
  transform: translateX(0);
  padding-top: 75px;
  min-height: 100vh;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
}
.site.active {
  transform: translateX(300px);
}
@media (max-width: 767px) {
  .site {
    padding-top: 0;
  }
}
.site__wrapper {
  flex-grow: 1;
}
.site-footer {
  background: #252324;
  color: #fff;
}
.footer-nav__wrapper {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.footer-nav__wrapper .menu-item a {
  display: block;
  padding: 15px;
  color: #747778;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}
.footer-nav__wrapper .menu-item a:hover {
  color: #eee;
}
@media (max-width: 767px) {
  .footer-nav__wrapper {
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .footer-nav__wrapper {
    justify-content: center;
  }
}
@media (min-width: 1280px) {
  .footer-nav__wrapper {
    justify-content: flex-start;
  }
}
.home-slider__wrapper {
  position: relative;
}
.home-slider__item {
  height: 100vh;
  background: #eee no-repeat center;
  background-size: cover;
  position: relative;
}
.home-slider__item--1 {
  background-image: url(img/home/slider/1.jpg);
}
.home-slider__item--2 {
  background-image: url(img/home/slider/2.jpg);
}
.home-slider__container {
  position: absolute;
  bottom: 15px;
  left: 15px;
  background: rgba(0, 0, 0, 0.75);
  padding: 30px;
  width: 600px;
  color: #fff;
}
.home-slider__header {
  margin: 0;
  margin-bottom: 30px;
}
.home-slider__text {
  margin: 0;
  margin-bottom: 30px;
}
.home-slider__link {
  display: inline-block;
  padding: 15px;
  border: 2px solid #fff;
  color: #fff;
}
.home-slider__link:visited {
  color: #eee;
}
.home-slider .owl-prev,
.home-slider .owl-next {
  position: absolute;
  top: 50%;
  color: #fff;
  padding: 15px;
  border: 1px solid #fff;
}
.home-slider .owl-prev {
  left: 15px;
}
.home-slider .owl-next {
  right: 15px;
}
.products {
  width: 100%;
  margin: 0;
}
.products__wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
}
.products li.product {
  list-style: none;
  text-align: center;
  position: relative;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .products li.product {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) {
  .products li.product {
    flex-basis: 50%;
  }
}
@media (min-width: 1280px) {
  .products li.product {
    flex-basis: 33%;
  }
}
.products li.product .woocommerce-LoopProduct-link {
  text-decoration: none;
  color: #333;
}
.products li.product .woocommerce-LoopProduct-link img {
  margin-bottom: 15px;
}
.products li.product .woocommerce-LoopProduct-link h3 {
  margin: 0;
  font-size: 30px;
  margin-bottom: 15px;
}
.products li.product .woocommerce-LoopProduct-link span.price {
  font-size: 20px;
}
.products li.product .add_to_cart_button {
  position: absolute;
  display: inline-block;
  color: #333;
  text-decoration: none;
  padding: 15px;
  top: 50%;
  left: 50%;
  margin-left: -58px;
  margin-top: -19px;
  background: #fff;
  border: 1px solid #333;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  border-radius: 0;
  opacity: 0;
}
.products li.product .add_to_cart_button:hover {
  background: #333;
  color: #fff;
}
@media (max-width: 767px) {
  .products li.product .add_to_cart_button {
    opacity: 1;
  }
}
.products li.product:hover .add_to_cart_button {
  opacity: 1;
}
.woocommerce #content div.product {
  /*display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	div.images {
		width: 100%;
	}
	.summary {
		width: 100%;
	}*/
}
.single-product__wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
}
.single-product__column {
  position: relative;
  flex-basis: 50%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .single-product__column {
    flex-basis: 100%;
  }
}
.single-product__images {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.single-product__thumbnail {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
}
.single-product__thumbnail a {
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .single-product__thumbnail a {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) {
  .single-product__thumbnail a {
    flex-basis: 50%;
  }
}
@media (min-width: 1280px) {
  .single-product__thumbnail a {
    flex-basis: 33%;
  }
}
.single-product__title {
  margin: 0;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 1px;
  word-spacing: 5px;
}
.single-product__short-description {
  font-style: italic;
}
.single-product__stock {
  font-weight: bold;
}
.single-product__stock--in-stock {
  color: green;
}
.single-product__stock--out-of-stock {
  color: red;
}
.single-product__form {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.single-product__form input,
.single-product__form button {
  border: 1px solid #333;
  display: inline-block;
  font-size: 22px;
  padding: 10px;
}
.single-product__form input {
  width: 45px;
}
.single-product__form button {
  margin-left: 15px;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  letter-spacing: 1px;
  background: #fc515e;
  color: #eee;
  cursor: pointer;
}
.single-product__form button:hover {
  background: #000;
}
.single-product__on-sale {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background: #fc515e;
  border-radius: 50%;
  text-align: center;
  color: #eee;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 50px;
  font-size: 16px;
  transform: rotate(-15deg);
  pointer-events: none;
}
.single-product .product-tabs {
  margin: 30px 0;
}
.single-product .product-tabs__wrapper {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
}
.single-product .product-tabs__item {
  flex-grow: 1;
  text-align: center;
}
.single-product .product-tabs__item a {
  display: block;
  padding: 15px 5px;
  text-decoration: none;
  text-transform: uppercase;
  color: #333;
}
.single-product .product-tabs__item.active a {
  background: #fc515e;
  color: #eee;
}
.single-product .product-tabs__item.active:hover a {
  background: #fc515e;
}
.single-product .product-tabs__item:hover a {
  background: #ddd;
}
.single-product .product-tabs table {
  font-size: 16px;
  text-align: left;
}
.single-product .product-tabs table p {
  margin: 0;
  margin-bottom: 5px;
  padding-left: 5px;
}
.single-product .woocommerce-Tabs-panel--reviews {
  padding: 15px 0;
}
.single-product .woocommerce-Tabs-panel--reviews h2 {
  margin: 0;
  margin-bottom: 15px;
  font-size: 24px;
}
.single-product .woocommerce-Tabs-panel--reviews h2 span {
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
}
.single-product .woocommerce-Tabs-panel--reviews ol {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  list-style: none;
}
.single-product .woocommerce-Tabs-panel--reviews ol li {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 15px;
}
.single-product .price {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
}
.single-product .price del {
  text-decoration: none;
  position: relative;
}
.single-product .price del span.woocommerce-Price-amount::before {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: #333;
  position: absolute;
  top: 50%;
  left: 0;
  border: 1px solid #eee;
}
.single-product .price ins {
  text-decoration: none;
}
.single-product .price ins span.woocommerce-Price-amount {
  color: #fc515e;
}
.my-cart {
  background: #232427;
  color: #eee;
}
.my-cart table {
  width: 100%;
}
.mini-cart {
  position: absolute;
  right: 0;
  top: 75px;
  background: #000;
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 15px;
  color: #eee;
}
.contacts__form {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}
.contacts__form input,
.contacts__form textarea {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 0;
  border: 1px solid #333;
  padding: 10px 15px;
}
.contacts__form input[type="submit"] {
  width: auto;
  text-transform: uppercase;
  font-size: 18px;
  background: none;
  border: 2px solid #fc515e;
  color: #fc515e;
  padding: 15px;
  letter-spacing: 1px;
}
.contacts__form input[type="submit"]:hover {
  color: #fff;
  background-color: #fc515e;
  box-shadow: none;
}
.contacts__form textarea {
  resize: vertical;
}
.contacts__map {
  height: 300px;
}
.lcw {
  margin: auto;
}
@media (max-width: 767px) {
  .lcw {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .lcw {
    width: 768px;
  }
}
@media (min-width: 1280px) {
  .lcw {
    width: 1280px;
  }
}
body {
  margin: 0;
  color: #333;
}
* {
  font-family: 'Open Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: lighter;
}
.page-header {
  text-align: center;
  font-size: 40px;
  margin: 30px 60px;
  overflow: hidden;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.page-header span {
  font-family: 'Open Sans Condensed';
  padding: 15px;
  position: relative;
}
.page-header span::before {
  right: 100%;
}
.page-header span::after {
  left: 100%;
}
.page-header span::before,
.page-header ::after {
  content: '';
  display: block;
  width: 1000px;
  height: 1px;
  background: #333;
  position: absolute;
  top: 50%;
}
.section-header {
  text-align: center;
  font-size: 26px;
}
.prod-cat {
  margin-bottom: 30px;
}
.prod-cat__container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
}
.prod-cat__item {
  height: 360px;
}
@media (max-width: 767px) {
  .prod-cat__item {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) {
  .prod-cat__item {
    flex-basis: 50%;
  }
}
.prod-cat__inner {
  padding: 7.5px;
}
.prod-cat__link {
  display: block;
  height: 100%;
  background: #ddd;
  text-align: center;
  line-height: 360px;
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  text-transform: uppercase;
  color: #222;
  text-decoration: none;
}
.prod-cat__link--men {
  color: #6af9f2;
}
.prod-cat__link--men:hover {
  background-color: #6af9f2;
}
.prod-cat__link--women {
  color: #f765e1;
}
.prod-cat__link--women:hover {
  background-color: #f765e1;
}
.prod-cat__link:hover {
  color: #fff;
}
.page-title {
  text-align: center;
}
